@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf'); /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Regular.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Roboto-Regular.ttf') format('woff'), /* Modern Browsers */ url('../fonts/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 2%;
}

h3 em {
    font-weight: bold;
    color: steelblue;
}

li em {
    font-weight: bold;
    color: #727a80;
}

#seguridad pre {
    padding-right: 20px;
}

#header img {
    position: absolute;
    margin-top: -20px;
}

#header em {
    position: absolute;
    margin-top: -5px;
}

h2 .particpante {
    font-weight: bold;
    color: #444444;
    text-shadow: 1px 1px 3px #666666;
}

ul {
    list-style: none;
}

h3 {
    font-size: 18px;
    background: #ea058b;
    color: white;
    padding: 7px;
    text-transform: uppercase;
}

h5 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #ea058b;
}

ol li a {
    color: black;
    cursor: pointer;
}

ol {
    background: whitesmoke;
    padding: 25px 35px 20px 35px;
    margin: 0px 0px 0px 3%;
    border: 1px solid #dddddd;
}

h4 {
    color: #ea058b;
    text-transform: uppercase;
    margin-top: 50px;
    margin-left: 3%;
}

img.clienteLogo {
    position: absolute;
    right: -90px;
    top: 10px;
    width: 80px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1em !important;
}

.marco pre {
    font-size: 0.8em;
}

.marco.col-md-5.ok:before, .marco.col-md-6.ok:before {
    content: "RESPUESTA EXITOSA";
}

.marco.col-md-5.error:before, .marco.col-md-6.error:before {
    content: "RESPUESTA FALLIDA";
}
